@font-face{
  font-family:'digital-clock';
  src: local('digital-clock'), url("./assets/fonts/digital-7.ttf");
}


body {
  background: #24292e;
  font-size: 20px;
  text-align: center;
  height: 100vh;
  width: 100vw;
  color: rgb(214, 216, 218);
}

.App {
  height: 100vh;
}

.timer-button {
  background: transparent;
  border-width: 0px;
  cursor: pointer;
  color: dimgray;
}


.clock-face {
  font-family: digital-clock;
  font-size: 6rem;
}

#time-left {
  font-size: 8rem;
}

#timer-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}
#timer-control {
  align-content: center;
}